*,*::after,*::before{
  box-sizing: border-box;
}
body{
  box-sizing: border-box;
  background-color: $primary-100;
}
h1,
h2,
h3,
h4,
h5,
h6,
a {
  letter-spacing: 0.1em;
}

p {
  letter-spacing: 0.05em;
}
.bi{
  display: inline-block;
  line-height: 0;
}
