<footer class="footer border-top border-top-sm-0">
  <div class="container">
    <span class="d-block py-5 text-center border-top-sm fs-7 fs-lg-6 text-primary-400">©Vivre 2024 All right Reserved</span>
  </div>
</footer>