.nav-form {
  width: 276px;
}

.banner>.container {
  padding-right: 0px;
  padding-left: 0px;

  @include media-breakpoint-up(sm) {
    padding-right: calc(var(--bs-gutter-x)* 0.5);
    padding-left: calc(var(--bs-gutter-x)* 0.5);
  }
}

.banner-title {
  width: 100%;
  bottom: 0%;

  @include media-breakpoint-up(lg) {
    bottom: 50%;
    transform: translateY(50%);
  }
}

.theme-card {
  position: relative;

  .card-img {
    width: 100%;
  }

  h3 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    border-radius: 20px 0px;
    transition: 0.5s;
  }

  &:hover::before {
    background: rgba($color: #212529, $alpha: 0.4);
  }
}



.activity {

  ul::before,
  ul::after {
    content: "";
    position: absolute;
  }

  ul::before {
    @include media-breakpoint-up(lg) {
      bottom: -90px;
      left: 0%;
      width: 217px;
      height: 81px;
      background-image: url("../img/bg-1.png");
    }
  }

  ul::after {
    bottom: -56px;
    right: -50px;
    width: 160px;
    height: 104px;
    background-image: url("../img/bg-2-sm.png");

    @include media-breakpoint-up(lg) {
      bottom: -96px;
      right: 0%;
      width: 300px;
      height: 196px;
      background-image: url("../img/bg-2.png");
    }
  }
}

.mySwiper {
  .card-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4; // 行數
    -webkit-box-orient: vertical;
    white-space: normal;
.hot{
  .nav-link{
    width: 100%;
    padding: 16px;
    text-align: left;
  }
}