<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Noto+Serif+TC:wght@200..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <title>article</title>
</head>

<body>
  <%- include('./layout/header'); -%>
  <section>
    <div class="container">
      <picture>
        <source media="(min-width: 768px)" srcset="../assets/img/article-banner.png">
        <img src="../assets/img/article-banner-sm.png" alt="banner" class="img w-100">
      </picture>
    </div>
  </section>
  <%- include('./layout/footer'); -%>
  <script type="module" src="../main.js"></script>
</body>

</html>