<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Noto+Serif+TC:wght@200..900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <title>index</title>
</head>

<body>
  <%- include('./layout/header'); -%>

    <section class="banner py-lg-11">
      <div class="container">
        <div class="position-relative">
          <picture>
            <source media="(min-width: 992px)" srcset="../assets/img/banner.png">
            <img src="../assets/img/banner-sm.png" alt="banner" class="w-100">
          </picture>
          <div
            class="banner-title position-absolute text-neutral-white text-center text-lg-start mb-9 mb-lg-0 ms-lg-10">
            <p class="mb-1 fs-6 fw-bold">獻給新世代的生活風格誌 <br>
              <span class="mb-4 fs-3 fw-bold">一起探索生活的無限可能 </span>
            </p>
            <button class="btn btn-accent-200 text-neutral-white fw-medium" type="button">馬上訂閱<i
                class="bi bi-arrow-right"></i></button>
          </div>
        </div>
      </div>
    </section>
    <section class="py-9 py-lg-11">
      <div class="container">
        <h2 class="mb-5">熱門主題</h2>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-1 g-md-5">
          <div class="col">
            <div class="theme-card">
              <picture>
                <source media="(min-width: 768px)" srcset="../assets/img/theme-1.png">
                <img src="../assets/img/theme-1-sm.png" alt="theme-img"
                  class="img card-img rounded-top-left-4 rounded-bottom-right-4">
              </picture>
              <h3 class="text-neutral-white fw-medium fw-md-bold fs-6 fs-md-5 text-nowrap">城市漫遊人</h3>
            </div>
          </div>
          <div class="col">
            <div class="theme-card">
              <picture>
                <source media="(min-width: 768px)" srcset="../assets/img/theme-3.png">
                <img src="../assets/img/theme-3-sm.png" alt="theme-img"
                  class="img card-img rounded-top-left-4 rounded-bottom-right-4">
              </picture>
              <h3 class="text-neutral-white fw-medium fw-md-bold fs-6 fs-md-5 text-nowrap">秘境尋蹤人</h3>
            </div>
          </div>
          <div class="col">
            <div class="theme-card">
              <picture>
                <source media="(min-width: 768px)" srcset="../assets/img/theme-5.png">
                <img src="../assets/img/theme-5-sm.png" alt="theme-img"
                  class="img card-img rounded-top-left-4 rounded-bottom-right-4">
              </picture>
              <h3 class="text-neutral-white fw-medium fw-md-bold fs-6 fs-md-5 text-nowrap">品味設計家</h3>
            </div>
          </div>
          <div class="col">
            <div class="theme-card">
              <picture>
                <source media="(min-width: 768px)" srcset="../assets/img/theme-7.png">
                <img src="../assets/img/theme-7-sm.png" alt="theme-img"
                  class="img card-img rounded-top-left-4 rounded-bottom-right-4">
              </picture>
              <h3 class="text-neutral-white fw-medium fw-md-bold fs-6 fs-md-5 text-nowrap">美食探險記</h3>
            </div>
          </div>
          <div class="col">
            <div class="theme-card">
              <picture>
                <source media="(min-width: 768px)" srcset="../assets/img/theme-2.png">
                <img src="../assets/img/theme-2-sm.png" alt="theme-img"
                  class="img card-img rounded-top-left-4 rounded-bottom-right-4">
              </picture>
              <h3 class="text-neutral-white fw-medium fw-md-bold fs-6 fs-md-5 text-nowrap">美學建築誌</h3>
            </div>
          </div>
          <div class="col">
            <div class="theme-card">
              <picture>
                <source media="(min-width: 768px)" srcset="../assets/img/theme-4.png">
                <img src="../assets/img/theme-4-sm.png" alt="theme-img"
                  class="img card-img rounded-top-left-4 rounded-bottom-right-4">
              </picture>
              <h3 class="text-neutral-white fw-medium fw-md-bold fs-6 fs-md-5 text-nowrap">慢活生活行</h3>
            </div>
          </div>
          <div class="col">
            <div class="theme-card">
              <picture>
                <source media="(min-width: 768px)" srcset="../assets/img/theme-6.png">
                <img src="../assets/img/theme-6-sm.png" alt="theme-img"
                  class="img card-img rounded-top-left-4 rounded-bottom-right-4">
              </picture>
              <h3 class="text-neutral-white fw-medium fw-md-bold fs-6 fs-md-5 text-nowrap">工藝匠心賞</h3>
            </div>
          </div>
          <div class="col">
            <div class="theme-card">
              <picture>
                <source media="(min-width: 768px)" srcset="../assets/img/theme-8.png">
                <img src="../assets/img/theme-8-sm.png" alt="theme-img"
                  class="img card-img rounded-top-left-4 rounded-bottom-right-4">
              </picture>
              <h3 class="text-neutral-white fw-medium fw-md-bold fs-6 fs-md-5 text-nowrap">時尚先鋒派</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row position-relative">
          <div class="col-md-4">
            <h3 class="fs-2">精選文章</h3>
  
         
              <div class="swiper-prev d-inline-block px-3 py-1 border border-1 border-dark rounded-5 "><i
                  class="bi bi-arrow-left fs-4"></i></div>
              <div class="swiper-next d-inline-block px-3 py-1 border border-1 border-dark rounded-5"><i
                  class="bi bi-arrow-right fs-4"></i></div>
              <div class="swiper-pagination position-absolute"></div>    
          </div>
          <div class="swiper mySwiper col-md-8">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="card border-0 border-bottom border-dark">
                  <picture>
                    <source media="(min-width:768px )" srcset="../assets/img/articles-1.png">
                    <img src="../assets/img/articles-1-sm.png" alt="articles-img" class="rounded-1">
                  </picture>
                  <div class="card-body py-5">
                    <h3 class="mb-1">私人島嶼的露營奇遇記</h3>
                    <p class="card-text mb-5">
                      遠離塵囂,用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間,在這處隱世私家別墅裡,盡情領略池畔優閒時光,任林間微風撫面,聆聽花鳥嘶啞之音,重拾內心深處的寧靜安詳...</p>
                    <a href="#" class="fs-5 fw-medium font-family-Newsreader text-accent-200">Read More</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">Slide 2</div>
              <div class="swiper-slide">Slide 2</div>
              <div class="swiper-slide">Slide 2</div>
            </div>
            <div class="swiper-button-next position-absolute "></div>
            <div class="swiper-button-prev position-absolute"></div>
            
          </div>
        </div>
      </div>
    </section>

    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

</body>

</html>